<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uday">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.uday.ApplicationConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.uday.activity.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.uday.activity.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uday.activity.SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"></activity>

        <receiver
            android:name=".receviers.InternetConnector_Receiver"
            android:enabled="true">
            <!-- Intent filters for broadcast receiver -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.uday.activity.CollapsingToolbarctivity"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity android:name="com.uday.activity.VerticalHorizontalListingActivity"
            android:theme="@style/AppTheme.Dark">
        </activity>

    </application>

</manifest>